.estudiosCls {
    background-image:url(/resources/img/icons/estudios.png) !important;
}

.infCls {
    background-image:url(/resources/img/icons/information.png) !important;
}


.personalCls {
    background-image:url(/resources/img/icons/personal.png) !important;
}

.schoolCls {
    background-image:url(/resources/img/icons/school.png) !important;
}

.editCls {
    background-image:url(/resources/img/icons/edit2.png) !important;
}

.deleteCls {
    background-image:url(/resources/img/icons/delete.png) !important;
}


.addCls {
    background-image:url(/resources/img/icons/plus.png) !important;
}

.cursosCls {
    background-image:url(/resources/img/icons/cursos.png) !important;
}


.workCls {
    background-image:url(/resources/img/icons/work.png) !important;
}

.expCls {
    background-image:url(/resources/img/icons/worked.png) !important;
}

.practCls {
    background-image:url(/resources/img/icons/practica.png) !important;
}

.infoCls {
    background-image:url(/resources/img/icons/info.png) !important;
}

.informationCls {
    background-image:url(/resources/img/icons/datainfo.png) !important;
}

.pdfCls {
    background-image:url(/resources/img/icons/pdf.png) !important;
}

.userInfoCls {
    background-image:url(/resources/img/icons/userInfo.png) !important;
}

.offCls {
    background-image:url(/resources/img/icons/off.png) !important;
}

.saveCls {
    background-image:url(/resources/img/icons/save.png) !important;
}

.usersCls {
    background-image:url(/resources/img/icons/users.png) !important;
}

.skillsCls {
    background-image:url(/resources/img/icons/skills.png) !important;
}

.searchCls {
    background-image:url(/resources/img/icons/search.png) !important;
}